/* Write your code here. */
.bg-container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#1d976c, #93f9b9);
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: roboto;
}
.image {
  width: 60%;
  height: 50%;
}
.heading {
  font-size: 60px;
}
.text-container {
  padding-left: 20px;
}
.input {
  background-color: transparent;
  width: 36vw;
  height: 5vh;
  font-size: 24px;
  border-style: solid;
  border-color: white;
}
.letter-count {
  background-color: white;
  color: #219a6f;
  width: 24vw;
  text-align: center;
  height: 7vh;
  padding-top: 15px;
  border-radius: 10px;
  font-size:40px;
}
